---
layout: page
title: About
description: Learn About WS-DL
landing-title: 'Welcome To The WS-DL Home Page'
image:  assets/images/toTheInternet.jpg
type: 'not_bibtex'
---
<section id="main">
    <section id="banner" class="style2">
        <div class="inner">
                <span class="image">
                     <img src="{{ site.github.url }}/{{ page.image }}" alt="">
                </span>
            <header class="major">

                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
            </header>
        </div>
    </section>
    <section id="two">
        <div class="inner">
            <div class="row">
                <div class="6u 12u$(small)">
                    <header class="major">
                        <h3>Recent Blog Posts</h3>
                    </header>
                    {% for post in site.data.recentBlogs.posts %}
                    <ul class="alt">
                        <li>
                            <a href="{{post.link}}">{{post.title}}</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="6u 12u$(small)">
                    <header class="major">
                        <h3>Recent Trip Reports</h3>
                    </header>
                    {% for post in site.data.recentBlogs.tripReports %}
                    <ul class="alt">
                        <li>
                            <a href="{{post.link}}">{{post.title}}</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="6u 12u$(small)">
                    <header class="major">
                        <h3>Photos Of Us Out And About</h3>
                    </header>
                    <iframe align="center"
                            src="//www.flickr.com/slideShow/index.gne?group_id=&amp;user_id=124419986@N07&amp;set_id=72157656178444675&amp;text="
                            frameBorder="0" width="400" height="400" scrolling="no"></iframe>
                </div>
                <div class="6u 12u$(small)">
                    <header class="major">
                        <h3>Recent Tweets by @WebSciDL</h3>
                    </header>
                    <a class="twitter-timeline" href="https://twitter.com/WebSciDL" data-widget-id="392653459037511680"></a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>



        </div>
    </section>
</section>



