---
title: Software
landing-title: 'publications'
description: View The Software We Have Created
image: assets/images/code2.jpg
type: not_bibtex
layout: page
---

<!-- Two -->
<section id="main">
    <section id="banner" class="style2">
        <div class="inner">
                <span class="image">
                     <img src="{{ site.github.url }}/{{ page.image }}" alt="">
                </span>
            <header class="major">

                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
            </header>
        </div>
    </section>
    <section id="two">
        <div class="inner">
            <ul>
                {% for repository in site.github.public_repositories %}
                {% if repository.name != 'logo' and repository.name != 'oduwsdl.github.io' %}
                <li>
                    <a class="icon alt" href="{{repository.html_url}}" rel="nofollow">
                        {{ repository.name | upcase }}&nbsp;<i class="octicon octicon-mark-github"></i>
                    </a>
                    <p>
                        {% if repository.description %}
                        <b>{{ repository.description }}</b><br/>
                        {% endif %}
                        {{ repository.forks_count }}&nbsp;<i class="octicon octicon-repo-forked"></i>
                        {{ repository.watchers_count }}&nbsp;<i class="octicon octicon-eye"></i>
                        {{ repository.stargazers_count}}&nbsp;<i class="octicon octicon-star"></i>
                        <a class="icon alt" href="{{repository.clone_url}}" rel="nofollow">
                            {% if repository.language %}
                            <em>{{ repository.language }}</em>
                            {% endif %}
                            <i class="octicon octicon-repo-clone"></i>
                        </a>
                    </p>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</section>