
  <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
    <div class="container">

      <div class="row">
        <div class="col-xl-3 col-lg-2">
        </div>
        <div class="col-xl-9 col-lg-10">

      <p>Keep up to date with the Dark and Stormy Archives Project:</p>
        <p><img style="width: 16px;" src="/dsa-puddles/assets/img/twitter-icon-32x32.png">&nbsp;&nbsp;<a href="https://twitter.com/StormyArchives">Follow @StormyArchives on Twitter</a></p>
        <p><img style="width: 16px;" src="/dsa-puddles/assets/img/f_logo_RGB-White-32x32.png">&nbsp;&nbsp;<a href="https://www.facebook.com/DarkAndStormyArchives/">Follow @DarkAndStormyArchives on Facebook</a></p>

        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-2">
            <img src="img/imls-logo.png">
        </div>
        <div class="col-xl-9 col-lg-10">
            This work was funded in part by the Institute of Museum and Library Services (LG-71-15-0077-15).
        </div>
      </div>


      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-2">
          <img src="img/odulogo.png"> 
        </div>
        <div class="col-xl-9 col-lg-10">
          This web site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> by the Old Dominion University Web Science and Digital Libraries Research Group 2019. <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        </div>
      </div>


    </div>
    </footer>
