
  <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-1">
          <img src="img/odulogo.png"> 
        </div>
        <div class="col-xl-10 col-lg-11">
          Copyright &copy; Old Dominion University Web Science and Digital Libraries Research Group 2019
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-2 col-lg-1">
            <img src="img/imls-logo.png">
        </div>
        <div class="col-xl-10 col-lg-11">
            This work was funded in part by the Institute of Museum and Library Services (LG-71-15-0077-15).
        </div>
      </div>
    </div>
    </footer>
