<footer id="footer">
		<div class="inner">
			<p>We are grateful for support from the <a href='https://securegrants.neh.gov/publicquery/main.aspx?f=1&amp;gn=HK-50181-14' rel='nofollow'>National Endowment for the Humanities (NEH)</a>, the <a class='urllink' href='https://mellon.org/grants/grants-database/grants/old-dominion-university/11600663/' rel='nofollow'>Andrew W. Mellon Foundation</a>, the <a class='urllink' href='http://www.nsf.gov/awardsearch/showAward?AWD_ID=1526700' rel='nofollow'>National Science Foundation (NSF)</a>, and the <a class='urllink' href='http://www.imls.gov/grants/awarded/lg-71-15-0077-15' rel='nofollow'>Institute for Museum and Library Science (IMLS)</a>.</p>
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			</ul>
		</div>
	</footer>

</div>
<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
