<div class="uk-navbar-container tm-navbar-container" uk-sticky="media: 960">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <ul class='uk-navbar-nav'>
                    <li class='uk-active'>
                        <a href="{{ site.github.url }}">
                            {{ site.subtitle }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    {% for page in site.pages %}
                    {% if page.layout == "home" %}
                    <li><a href="{{ site.github.url }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% for page in site.pages %}
                    {% if page.blogUrl %}
                    <li><a href="{{ page.blogUrl }}">{{ page.title }}</a></li>
                    {% elsif page.layout != "home" %}
                    <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#offcanvas" uk-toggle></a>
            </div>
        </nav>
    </div>
</div>