<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/about.html">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/team.html">Research Team</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/publications.html">Publications, Reports, and Datasets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/presentations.html">Presentations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/software.html">Software</a>
    </li>
</ul>
