<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}#Faculty">Faculty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}#Students">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}#Alumni">Alumni</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}#Research">Research Output</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}#Classes">Classes Taught</a>
    </li>
</ul>
