.read-more, .related {
  /* hide on mobile */
  display: none;
  width: 290px;
  background-color: #f2f2f2;
}
.read-more li, .related li {
  counter-increment: articles;
}
.read-more a, .related a {
  display: block;
  position: relative;
  padding: 1.6em 1.1em 1.6em 4.3em;
}
.read-more a::before, .read-more a::after, .related a::before, .related a::after {
  position: absolute;
}
.read-more a::before, .related a::before {
  /* article number */
  content: counter(articles);
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.1em;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: 50%;
  color: #b3b3b3;
  font-family: Georgia, serif;
  text-align: center;
  box-shadow: inset 0 0 0 1px #d9d9d9;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.read-more a::after, .related a::after {
  /* bottom separation - line */
  content: '';
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 260px;
  background-color: #d9d9d9;
}
.read-more a.read em, .related a.read em {
  color: #a6a6a6;
}
.read-more a.read::before {
  background-color: #d9d9d9;
}
.read-more a.reading em {
  color: #2a76e8;
}
.read-more a.reading svg {
  display: block;
}
.read-more a.reading::before {
  background-color: #ffffff;
  color: #141414;
}
.read-more li:last-of-type a::after {
  display: none;
}
.read-more em, .related em {
  display: block;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #141414;
  /* truncate text with ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.read-more b, .related b{
  color: #a6a6a6;
  font-size: 1.2rem;
  font-family: Georgia, serif;
  font-style: italic;
}
.read-more svg {
  /* this is the filling circle around the article number */
  display: none;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.1em;
  stroke: #2a76e8;
}
@media only screen and (min-width: 1100px) {
  .read-more, .related {
    display: block;
    position: absolute;
    top: 3em;
    right: 0;
  }
  .read-more.fixed, .related.fixed {
    position: fixed;
    right: calc(50% - 485px);
  }
}