<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content='The Dark and Stormy Archives (DSA) project exists to provide storytelling solutions to improve the understanding of web archive collections. With search engines, collection users must first have a query in mind. What if the user does not know enough about the collection to form a query? Our goal is to provide a "summary of summaries" in the form of social media storytelling that describes a collection sufficiently for a user to decide if that collection merits further time.'>
  <meta name="author" content="Shawn M. Jones">
  <meta name="image" content="https://oduwsdl.github.io/dsa/img/dsa-logo-dark-bg.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@StormyArchives">
  <meta name="twitter:creator" content="@shawnmjones">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content='The Dark and Stormy Archives (DSA) project exists to provide storytelling solutions to improve the understanding of web archive collections. With search engines, collection users must first have a query in mind. What if the user does not know enough about the collection to form a query? Our goal is to provide a "summary of summaries" in the form of social media storytelling that describes a collection sufficiently for a user to decide if that collection merits further time.'>
  <meta name="twitter:image" content="https://oduwsdl.github.io/dsa/img/dsa-logo-dark-bg.png">
  <meta name="twitter:image:alt" content="Dark and Stormy Archives logo">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="https://oduwsdl.github.io/dsa/img/dsa-logo-dark-bg.png">
  <meta property="og:image:url" content="https://oduwsdl.github.io/dsa/img/dsa-logo-dark-bg.png">
  <meta property="og:description" content='The Dark and Stormy Archives (DSA) project exists to provide storytelling solutions to improve the understanding of web archive collections. With search engines, collection users must first have a query in mind. What if the user does not know enough about the collection to form a query? Our goal is to provide a "summary of summaries" in the form of social media storytelling that describes a collection sufficiently for a user to decide if that collection merits further time.'>
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="Dark and Stormy Archives">
  <meta property="og:image:alt" content="Dark and Stormy Archives logo">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="800">
  <meta property="og:image:type" content="image/png">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website" />

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/"><img src="img/dsa-logo-monochrome-bw.png"> DSA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          {% include top_menu.html %}
        </div>
      </div>
    </nav>

      {{ content }}

    {% include footer.html %}

<!-- Bootstrap core JavaScript -->
<script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<!-- <script src="{{ site.baseurl }}/js/grayscale.min.js"></script> -->

</body>
</html>
    